@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.light-bg {
    background: #F9FAFB;
}


.text-responsive{
    font-size: 1rem;
}

.shadow-xs{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.img-filter{
    position: relative;
    display: inline-block;
    max-width: 117px;
    background-size: 100% 98%;
    background-repeat: no-repeat;
    padding: 0;
}
.img-index{
    z-index: 1;
    position: relative;
}
.img-filter::before, .img-filter::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    transition: 0.3s all;
    transform: translateY(12px) scale(0.9)
}
.kard:hover > .img-filter::before, .kard:hover > .img-filter::after{
    position: absolute;
    top: 0;
    filter: blur(0px);
    transition: 0.3s all;
    transform: translateY(0px) scale(0.9);
}

.bg-latest{
    background: #F3F4F6;
}
.bg-latest:hover{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.kard{
    font-family: 'Fira Sans', sans-serif;
}

.kard-link{
    color: #374151;
}

.kard > div:nth-child(2){
    transition: 0.3s all;
}

.kard:hover > div:nth-child(2){
    transform: translateY(-10px);
}

.rounded-lg-top {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}


.title{
    color: #374151;
    font-weight: bold;
}
/* col */
@media (max-width: 576px) {
    .text-responsive{
        font-size: .75rem;
    }
}
/* col-sm */
@media (min-width: 577px) and (max-width: 768px){
    
} 
/* col-md */
@media (min-width: 769px) and (max-width: 992px){

} 
/* col-lg */
@media (min-width: 993px) and (max-width: 1200px){

} 
/* col-xl */
@media (min-width: 1201px){

} 